@model List<Cat>

<!DOCTYPE html>
<html>
<head>
    <title>Liste des chats avec leur score</title>
</head>
<body>
    <h1>Liste des chats</h1>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        img {
            width: 100px;
            height: 100px;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>@cat.Id</td>
                    <td><img src="@cat.Url" alt="Chat" width="200" height="200"></td>
                    <td>@cat.Score</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

